# IntelliJ project files
.idea
containerise.iml

# dependencies
/node_modules

# misc
.DS_Store

# build
build
dist
web-ext-artifacts

# test coverage
coverage

# Cleanup
.cleanup
.backup

# Other
/profile

# GitNexus analyzer output
.gitnexus
